@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

:root {
  --primary: #0969da;
  --background: #edeef7;
  --gray: #edeef7;
  --white: #fcfcfc;
  --navbar-height: 60px;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-color: var(--background);
  display: flex;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#team-members {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  max-width: 400px;
  width: 100%;
  background-color: var(--white);
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}

.team-member {
  position: relative;
  z-index: 1;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border-radius: 24px;
  font-size: 16px;
  padding: 16px;
  align-items: center;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}

.team-member:hover {
  cursor: grab;
}

.social-links {
  list-style-type: none;
  padding: 0;
  padding-left: 24px;
  display: flex;
  margin-left: auto;
  gap: 6px;
  flex-direction: row;
}

.social-links img {
  height: 20px;
  width: 20px;
}

.social-links a {
  padding: 2px;
}

.social-links svg {
  color: black;
  transition: fill 0.4s ease, transform 0.3s ease; /* Transition for color and scale */
  transform-origin: center center;
}

.social-links svg:hover {
  fill: black;
  transform: scale(1.2);
}

.team-member-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.team-member-socials {
  display: flex;
  gap: 8px;
}

.team-member-name {
  display: grid;
  gap: 2px;
}

.team-member-name h3 {
  font-size: large;
}

.team-member-name p {
  font-size: smaller;
}

.team-member-chosen {
  box-shadow: 8px 8px 32px #e1e1e1;
}

.team-member-drag {
  opacity: 0;
}

@media (max-width: 400px) {
  #team-members {
    padding: 16px;
  }
  .social-links {
    padding: 0;
  }
}
